<section id="about-me" class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>About Me</h2>
            <p class="lead">Hi, I'm Hossam Salah Hassan. As a Computer Engineering graduate with one year of experience
                in software engineering, my passion lies in
                solving intricate problems and architecting innovative solutions.have a passion for learning new
                technologies and
                solving complex problems. Seeking for a position in a company where I can use my skills to benefit the
                company
                and improve myself
                .
            </p>
            <a href="https://drive.google.com/uc?export=download&id=1mc7mjLEvcaqSCRCjIECFGSfsoQrt4B-R"
                class="btn btn-primary" download>Download Resume</a>
        </div>
    </div>
</section>