<section id="projects" class="container my-5">
    <h2 class="text-center mb-4">My Projects</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://media.istockphoto.com/id/1223692043/vector/quiz-neon-text-banner-on-brick-wall-questions-team-game-quiz-night-poster-pub-neon-signboard.jpg?s=612x612&w=0&k=20&c=eqCWw4lF_ypcD9xKy7pu5QBNeqLASUWYnKZVdIjzNyc="
                    class="card-img-top" alt="Project 1">
                <div class="card-body">
                    <h5 class="card-title"> Exam-type</h5>
                    <p class="card-text">in this project we mad it two section for teacher and student teacher to add
                        question and student to answer it .</p>
                    <a href="https://drive.google.com/drive/folders/1h2V4CBc4X9bgXjxqMSlBCL7KvHZrwgdr" target="_blank"
                        class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="assets/paper.png" class="card-img-top" alt="Project 2">
                <div class="card-body">
                    <h5 class="card-title">some-of-js</h5>
                    <p class="card-text">here you can find some js script if you are stating java script </p>
                    <a href="https://drive.google.com/drive/folders/1PwYCjuuqtc2z25H7e1mQ1LyeAYWwPD8p?usp=sharing"
                        target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://media.istockphoto.com/id/1442417585/photo/person-getting-a-piece-of-cheesy-pepperoni-pizza.jpg?s=612x612&w=0&k=20&c=k60TjxKIOIxJpd4F4yLMVjsniB4W1BpEV4Mi_nb4uJU="
                    class="card-img-top" alt="Project 3">

                <div class="card-body">
                    <h5 class="card-title">piza prozect</h5>
                    <p class="card-text">This is piza project is the first i do with the html and css.</p>
                    <a href="https://drive.google.com/drive/folders/1AyP7HRwTIox0yMrTFQNfpVw1b3nySv3e?usp=drive_link"
                        target="_blank" class="btn btn-primary">View Project</a>
                </div>
            </div>
        </div>


    </div>
</section>